*{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#main{
    display:flex;
    justify-content: space-between;
    
    
}
.side{
    width:240px;
    height:100vh;
    background-color:#2d2d36;
}
.con{
    width:calc(100% - 240px);
    height:100vh;
}
.navTop{
    height:60px;
    background-color:#151c31;
}
.logo{
    overflow: hidden;
    height:60px;
    background-color:#37485d;
}
.logo img{
    display:block;
}
.navCon{
    overflow: hidden;
    height:calc(100vh - 60px);
}
.navCon > div{
    width:100%;
    height:100%;
    background-color:#000;
}
