.navtop{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    height:60px;
    background-color:#151c31;
    box-shadow: 0 1px 2px #999;
}
.navtop ul{
    display:flex;
    color:#57697e;
}
.navtop ul li{
    width:60px;
    height:26px;
    margin-right:16px;
    line-height: 26px;
    text-align: center;
    border:1px solid rgba(255,255,255,.3);

}
.navtop ul li a{
    color:#57697e;
    font-size: 14px;
    
}
.navtop ul li a.active{
    color:orangered;
}
